body {
    
        background-image: url("../images/background.jpg");
        background-color: #cccccc;
     
}

#main-container {
    background-color:red;
    
}
.title {
    background-color:green;
}
.crystal{
    border:1px solid black;
    height:250px;
    width:250px;
}
.crystals{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    align-items:center;
    border:1px solid red;
    height:30px;
}

.crystalBtn {
    border-radius:50%;
    background-size:cover;  
}
img {
    background-size:cover;    
}

#yellowCrystal {
    background-image: url("../images/yellowcrystal.jpg");
    background-size:'100%';
    border-radius:50%;
}

#blueCrystal {
    background-image: url("../images/bluecrystal.jpg");
    background-size:'100%';
    border-radius:50%;
}

#redCrystal {
    background-image: url("../images/redcrystal.jpg");
    background-size:'100%';
    border-radius:50%;
}

#pinkCrystal {
    background-image: url("../images/pinkcrystal.jpg");
    background-size:'100%';
    border-radius:50%;
}
/*to make buttons taller and not super short*/
.row {
    height:250px;
}
#instructions {
    background-color: beige;
    
}
#randomNumberContainer {
    background-color: beige;
    
}
#currentNumberContainer {
    background-color: beige;
    
}
#winsNumberContainer {
    background-color: beige;
   
}
#lossesNumberContainer {
    background-color: beige;
    
}