body {
    
        background-image: url("../images/background.jpg");
        background-color: #cccccc;
     
}

#main-container {
    background-color:red;
    
}
.title {
    background-color:green;
    

}
